@import "tailwindcss";

/* Tailwind theme define */
@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-anton: "Anton", sans-serif;
}

/* Base styles */
@layer base {
  html {
    font-family: var(--font-roboto) !important;
  }

  p,
  h1,
  h2 {
    margin: 0 !important;
  }
}
