@import "tailwindcss";

/* Tailwind theme define */
@theme {
  --font-dmsans: "DM sans", sans-serif;
  --font-anton: "Anton", sans-serif;
}

/* Base styles */
@layer base {
  html {
    font-family: var(--font-dmsans) !important;
  }

  p,
  h1,
  h2,
  h3 {
    margin: 0 !important;
  }
}
